<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Todo Preview</h5>
      </div>

      <div *ngIf="todoService.current.title==null" class="modal-body">
          <hr />
          <nz-empty></nz-empty>
      </div>

      <div *ngIf="todoService.current.title!=null" class="modal-body">

        <form name="createTodo">
          <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" name="titleInput" [value]="todoService.current.title" disabled placeholder="e.g. Coding" />
          </div>
          <div class="form-group">
            <label for="categoryInput">Category</label>
            <input type="text" class="form-control" id="categoryInput" name="categoryInput" [value]="todoService.current?.category?.name" disabled placeholder="e.g. Home" />
          </div>
          <div class="form-group">
            <label for="dueDateInput">Due Date</label>
            <input type="text" class="form-control" [value]="dateFormater(todoService.current.dueDate)" name="dueDateInput" id="dueDateInput" disabled />
          </div>
          <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" [value]="todoService.current.description" disabled rows="3"></textarea>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="todoService.current.isComplete" (change)="onChange()" name="completeTodoChk" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Complete Todo
              </label>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
