.addBtn:hover {
  background-color: #bbb;
}

#deleteButton {
  color: #8f4747;
  font-size: 16px;
}

button {
  margin-bottom: 16px;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
