<div class="container">

  <h2>Categories</h2>

<hr />

<button nz-button (click)="addRow()" nzType="primary">Add Category</button>
<nz-table #editRowTable nzBordered [nzData]="categories">
  <thead>
    <tr>
      <th nzWidth="40%">Category Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data" class="editable-row">
      <td>
        <div class="editable-cell" *ngIf="editId !== data.id; else editTpl">
          <div class="editable-cell-value-wrap" (click)="startEdit(data.id, $event)">
            {{ data.name }}
          </div>
        </div>
        <ng-template #editTpl>
          <input type="text" nz-input (blur)="onBlur(data)" [(ngModel)]="data.name" />
        </ng-template>
      </td>
      <td>
        <a nz-popconfirm nzTitle="Sure to delete?" id="deleteButton" (nzOnConfirm)="deleteCategory(data.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

</div>
