<div class="container">
  <div id="todo-list" class="row">

    <div class="col-7">

      <todoapp-todo-list> </todoapp-todo-list>

    </div>

    <div id="todo-detail" class="col-5">

      <router-outlet> </router-outlet>

    </div>
  </div>

</div>

