<nz-modal
 [(nzVisible)]="visible"
 [nzFooter]="modalFooter"
 nzTitle="Edit Todo"
 (nzOnCancel)="handleCancel()">
  <form name="editTodo">
      <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="titleInput">Todo Title</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a title!">
            <input nz-input [(ngModel)]="todoService.current.title" id="titleInput" name="titleInput" required />
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">Category</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select
            [compareWith]="compareFn"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Category"
            name="categorySelect"
            id="categorySelect"
            [(ngModel)]="todoService.current.category"
            nzShowTime
          >
            <nz-option *ngFor="let category of todoCategories" [nzLabel]="category.name" [nzValue]="category"></nz-option>
          </nz-select>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">Due Date</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a date!">
            <nz-date-picker nzShowTime [(ngModel)]="todoService.current.dueDate" name="datePicker" required> </nz-date-picker>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">Description</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <textarea nz-input rows="3" [(ngModel)]="todoService.current.description" name="descriptionInput" placeholder="write any thing"></textarea>
          </nz-form-control>
      </nz-form-item>
  </form>

  <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Close</button>
      <button nz-button nzType="primary" [disabled]="todoService.current.title==''" (click)="handleOk()" [nzLoading]="isSaving">Submit</button>
  </ng-template>

</nz-modal>


