<div>

  <div id="list-container">

      <form nz-form [nzLayout]="'inline'">

        <nz-form-item>
              <nz-input-group nzPrefixIcon="filter">
                <input nz-input type="input" [(ngModel)]="searchTerm" name="search" placeholder="Enter Title Keyword" />
              </nz-input-group>
         </nz-form-item>

          <nz-form-item>
                  <nz-select
                  style="width: 200px;"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select a Category"
                  [(ngModel)]="category"
                  name="anotherSelect">
                  <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category"></nz-option>
                </nz-select>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="default" (click)="onSearch()" >Search</button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary" (click)="onOpenCreateModal()" >Add</button>
              </nz-form-control>
            </nz-form-item>
        </form>

      <todoapp-todo-create [todoCategories]="categories" (closeEvent)="onCloseCreateModal()" [visible]="createModalVisible"> </todoapp-todo-create>
      <todoapp-todo-edit [todoCategories]="categories" (closeEvent)="onCloseEditModal()" [visible]="editModalVisible"> </todoapp-todo-edit>
  </div>

  <hr />

  <todoapp-todo-list-view
  [data]="todoService.list"
  (deleteEvent)="onDeleteTodo($event)"
  (editEvent)="onOpenEditModal($event)"
  (selectEvent)="onSelectTodo($event)"
  (pageChangeEvent)="onPageChange()"
  [isLoading]="isLoading"
  > </todoapp-todo-list-view>


</div>
