<nz-list
class="demo-loadmore-list"
[nzDataSource]="data"
[nzItemLayout]="'horizontal'"
[nzLoading]="isLoading"
[nzRenderItem]="item"
[nzPagination]="pagination"
>
<ng-template #item let-item>
  <nz-list-item
    [nzContent]="item.loading ? '' : ''"
    [nzActions]="item.loading ? [] : [editAction, deleteAction]"
  >
    <nz-skeleton [nzAvatar]="false" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
      <ng-template #editAction><a id="editButton" (click)="edit(item)">edit</a></ng-template>
      <ng-template #deleteAction><a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="delete(item)" id="deleteButton">delete</a></ng-template>
      <nz-list-item-meta
        [nzTitle]="nzTitle"

        nzDescription='Category : {{item.category?.name}}'
      >
        <ng-template #nzTitle>
          <a *ngIf="!item.isComplete" class="todo-list-item-title" (click)="openTodo(item)">{{ item.title }}</a>
          <a *ngIf="item.isComplete" class="todo-list-item-title" (click)="openTodo(item)"> <s> {{ item.title }} </s> </a>
        </ng-template>
      </nz-list-item-meta>
    </nz-skeleton>
  </nz-list-item>
</ng-template>

<ng-template #pagination>
  <nz-pagination

  [nzPageSize]="todoService?.pagination.pageSize"
  [nzTotal]="todoService?.pagination.totalElements"
  (nzPageIndexChange)="onPagination($event)"></nz-pagination>
</ng-template>

</nz-list>
