.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

#editButton {
  color: cornflowerblue;
  font-size: 16px;
}

#deleteButton {
  color: brown;
  font-size: 16px;
}

.todo-list-item-title {
  font-size: 18px;
}
