<nz-modal
[(nzVisible)]="visible"
[nzFooter]="modalFooter"
nzTitle="Create New Todo"
(nzOnCancel)="handleCancel()">

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" name="createTodo">

            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="titleInput">Todo Title</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please enter a title!">
                  <input nz-input formControlName="title" id="titleInput" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Category</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please select Category!">
                <nz-select
                  [compareWith]="compareFn"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select a Category"
                  name="categorySelect"
                  id="categorySelect"
                  formControlName="category"
                >
                  <nz-option *ngFor="let category of todoCategories" [nzLabel]="category.name" [nzValue]="category"></nz-option>
                </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Due Date</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please enter a date!">
                  <nz-date-picker nzShowTime formControlName="dueDate" name="datePicker"> </nz-date-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Description</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                  <textarea formControlName="description" nz-input rows="3" placeholder="write any thing"></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">

                </nz-form-control>
              </nz-form-item>

        </form>

        <ng-template #modalFooter>
            <button nz-button nzType="primary" [nzLoading]="isSaving" (click)="submitForm()" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm()">Reset</button>
            <button nz-button nzType="default" (click)="handleCancel()">Close</button>
        </ng-template>

</nz-modal>
